.calculator .background {
/* Webkit (Safari/Chrome 10) */ 
    background: linear-gradient(to bottom, #F2F1F3, #BBBBBB);
    height:530px;
    width:430px;
    position:absolute;
    float:left;
}

.calculator .output{
    background-color:#F0FBC8;
    border:none;
    font-size:28;
    text-align:right;
    width:374px;
    height: 94px;
    left: 24px;
    top: 12px;
}
.calculator .screen{
    width:374px;
    height:94px;
    background-color:#F0FBC8;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px #AAAAAA inset;
    left: 24px;
    top: 8px;
    position:relative;
}


.calculator .smallbutton {
    width: 90px;
    height: 55px;
    position: relative;
    left: 13px;
    top: 24px;
    border-radius:8px;
    font-size:18pt;
    margin: 3px;
    background-color:#D8D5D0
    font-family: 'Lucida Grande', 'Helvetica';
    color:#2F2F2F;
    box-shadow:3px 3px 2px 2px #D1D1D1;
}


.calculator .tallbutton {
    width: 91px;
    height: 118px;
    position: relative;
    left: 16px;
    top: 25px;
    background-color:#D8D5D0;
    border-radius:8px;
    border:outset;
    font-size:18pt;
    font-family: 'Arial', 'Helvetica';
    color:#2F2F2F
    
}

.calculator .widebutton {
    width:193px;
    height: 55px;
    position: relative;
    left: 13px;
    top: 25px;
    background-color:#D8D5D0;
    border-radius:8px;
    font-size:18pt;
    font-family:'Arial', 'Helvetica'
    color:#2F2F2F;
    box-shadow:3px 3px 2px 2px #D1D1D1;
}

.calculator #row2 button {
    position: relative;
    top: 28px;
}
.calculator #row3 button {
    position: relative;
    top: 32px;
}
.calculator #row4 button {
    position: relative;
    top: 39px;
}
.calculator #row5 .tallbutton {
    position: relative;
    top: 46px;
}
.calculator #row5 .smallbutton {
    position: relative;
    top: 40px;
}

.calculator #row6 button {
    position: relative;
    top: 40px;
    left:15px;
    
}

h{
    position:realtive;
    top:32;
}

.graphcalc{
    background-color:#BBF1FB;
     height:530px;
    width:430px;
    float:right;
}
#graphWindow{
    position:relative;
    top:10px;
    left:-50x;
    width:150px;
    height:150px;
    margin:20px;
    background-color:#FFFFFF;
}
.plot_button{
    position:relative;
    left:50px;
}
 #inputs{
    margin-left:10px
    position:relative;
    
    
}