.chart rect {
    fill:#aac8dd;
    stroke: white
}
.chart{
    border: 3px solid grey;
}

.chart .bar-label{
    fill:#FFFFFF;
    font:10px sans-serif;
}
.chart .y-scale-label{
    fill:#aaa   
}
.chart line{
    stroke:#ccc;
    opacity:.3;
}